/* override the section for bio*/
section {
  height: 100%;
  width: 100%;
}

/* Styles for pre text */
pre {
  white-space: pre-wrap;
  font-size: 18px;
  font-family: Courier;
  margin:0;
  padding: 10px 30px 10px 30px;
}

/*centering the name plate at the top*/
.name-plate {
  font-family: Georgia;
  font-size: 60px;
  margin:0 auto 0 auto;
  text-align: center;
  width: 80%
}

/*underline div. TODO: May replace this with asset later*/
.underline {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 2px;
  margin: 0 10 0 10;
}

.bio-text {

}
